<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>HRC Java Servlets</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>addCustomer</display-name>
    <servlet-name>addCustomer</servlet-name>
    <servlet-class>com.servlet.addCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addCustomer</servlet-name>
    <url-pattern>/addCustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>editCustomer</display-name>
    <servlet-name>editCustomer</servlet-name>
    <servlet-class>com.servlet.editCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editCustomer</servlet-name>
    <url-pattern>/editCustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getAllCustomer</display-name>
    <servlet-name>getAllCustomer</servlet-name>
    <servlet-class>com.servlet.getAllCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getAllCustomer</servlet-name>
    <url-pattern>/getAllCustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteCustomer</display-name>
    <servlet-name>deleteCustomer</servlet-name>
    <servlet-class>com.servlet.deleteCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteCustomer</servlet-name>
    <url-pattern>/deleteCustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CORSFilter</display-name>
    <servlet-name>CORSFilter</servlet-name>
    <servlet-class>com.cors.CORSFilter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CORSFilter</servlet-name>
    <url-pattern>/CORSFilter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>search</display-name>
    <servlet-name>search</servlet-name>
    <servlet-class>com.servlet.search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>search</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>advanceSearch</display-name>
    <servlet-name>advanceSearch</servlet-name>
    <servlet-class>com.servlet.advanceSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>advanceSearch</servlet-name>
    <url-pattern>/advanceSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>analytics</display-name>
    <servlet-name>analytics</servlet-name>
    <servlet-class>com.servlet.analytics</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>analytics</servlet-name>
    <url-pattern>/analytics</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getPredictData</display-name>
    <servlet-name>getPredictData</servlet-name>
    <servlet-class>com.servlet.getPredictData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getPredictData</servlet-name>
    <url-pattern>/getPredictData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>setPredictData</display-name>
    <servlet-name>setPredictData</servlet-name>
    <servlet-class>com.servlet.setPredictData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>setPredictData</servlet-name>
    <url-pattern>/setPredictData</url-pattern>
  </servlet-mapping>
</web-app>